.chatcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 60vh;
    /* Adjust the overall height */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    /* Center the chat container horizontally */
}

.chatheader {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.chatbody {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    border-top: 1px solid #d1cbdb;
    border-bottom: 1px solid #8e889c;
    max-height: 400px;
    /* Limit the height of the chat body */
}

.chatmessage {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.chatmessage.student {
    background-color: #20e7b6;
    align-self: flex-end;
}

.chatfooter {
    display: flex;
    padding: 10px;
    background-color: #f0f2f5;
    border-top: 1px solid #ddd;
}

.chatinput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.sendbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sendbutton:hover {
    background-color: #0056b3;
}