
/* App.css */

/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #110466;
}

.uniquecontainer {
  width: 100%;
  max-width: 600px;
  /* Increased from 400px to 600px */
  padding: 40px;
  /* Increased padding */
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  /* Slightly darker shadow */
  border-radius: 10px;
  /* Increased border-radius */
  text-align: center;
}

.uniquelogo {
  width: 150px;
  /* Increased logo size */
  margin-bottom: 30px;
}

.uniqueuniversityname {
  font-size: 28px;
  /* Increased font size */
  font-weight: bold;
  color: #333333;
  margin-bottom: 40px;
}

.uniqueloginform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniqueloginform input {
  width: 100%;
  padding: 15px;
  /* Increased padding */
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.uniqueloginform button {
  width: 100%;
  padding: 15px;
  /* Increased padding */
  margin-top: 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  /* Increased font size */
}

.uniqueloginform button:hover {
  background-color: #0056b3;
}
.message{
  font-size: 2.5rem;
  color: rgb(234, 245, 245);
}
