body {
    margin: 0;
    font-family: Arial, sans-serif;
   
    /* Change 'background.jpg' to your image file */
    background-size: cover;
    background-position: center;
}

.homepage {
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3a/Administration_Building%2C_University_of_Rajshahi_%28cropped%29.jpg');
        /* Use a valid URL for the background image */
    background-size: cover;
    position: relative;
    z-index: 1;
    
    /* Additional background properties as needed */
}

.header {
    background-color: rgb(5, 5, 73);
    color: white;
    display: flex;
    flex-direction: column;
    /* Align logo and university name vertically */
    align-items: center;
    padding: 25px;
    position:relative;
    z-index: 2;
}

.logocontainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.title {
    margin: 20px;
}

.nav {
    display: flex;
    gap: 70px;
}

.navlink {
    color: white;
    text-decoration: none;
}

.main {
    padding: 20px;
    background-color: rgba(156, 151, 151, 0.5);
    /* Black with 50% opacity */
    color: white;
    min-height: calc(100vh - 70px);
    /* Adjust based on header height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 2;
}
.message{
    
    color: rgb(245, 235, 235);
    background-color: rgb(13, 14, 15);
    white-space: nowrap;
    font-size: 25px;
    /* Prevent the text from wrapping */
}

