/* HelplinePage.css */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #bbb4b4;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001f3f;
    padding: 10px 20px;
    color: white;
}

.header-logo {
    width: 80px;
}

.header-university-name {
    font-size: 18px;
    margin-top: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #e6dfdf;
    flex-grow: 1;
}

.profiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.profile-card {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background-color: #b0d3e7;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-detail,
.profile-room-id {
    font-size: 16px;
    margin-bottom: 5px;
}